@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models
@inject ICottageService CottageService
@inject IGrassFieldService GrassFieldService

<div class="d-flex justify-content-center">
    <h3><strong>V&#230;lg plads</strong></h3>
</div>

<div class="form-group mb-3" style="transform: translateX(25%);">
    <label class="form-label">V&#230;lg type</label>
    <InputSelect id="Field" @bind-Value="SelectedType" class="form-select" style="max-width: 50%" @onclick="SelectedFieldChanged">
        <option value="null" selected>-</option>
        @foreach (var type in Enum.GetValues<ProductType>())
        {
            <option value="@type">@(@type == ProductType.Cottage ? "Hytteplads" : "Græsplads")</option>  
        }

    </InputSelect>
</div>
    
@if(SelectedType == ProductType.Cottage)
{
    <div class="form-group mb-3" style="transform: translateX(25%);">
        <label class="form-label">V&#230;lg hytteplads</label>
        <InputSelect id="CottageNumbers" @bind-Value="SelectedFieldNumber" class="form-select" style="max-width: 50%" @onclick="SelectedFieldNumberChanged">
            <option value="0" selected>-</option>
            @foreach (var cottagenum in GetAvailableCottagesByGuests())
            {
                <option value="@cottagenum">@cottagenum</option>		
            }
        </InputSelect>
    </div>
}

@if(SelectedType == ProductType.GrassField){
    <div class="form-group mb-3" style="transform: translateX(25%);">
        <label class="form-label">V&#230;lg gr&#230;splads</label>
        <InputSelect id="FieldNumbers" @bind-Value="SelectedFieldNumber" class="form-select" style="max-width: 50%" @onclick="SelectedFieldNumberChanged">
            <option value="0" selected>-</option>
            @foreach (var grassfieldnum in GetAvailableGrassfieldsByGuests())
            {
                <option value="@grassfieldnum">@grassfieldnum</option>
            }
        </InputSelect>
    </div>
}

<div class="d-flex justify-content-around">
    <button type="button" class="btn btn-link p-0 text dark text-decoration-none" @onclick="ShowImage" style="color: black;">
        <div class="d-flex justify-content-center">
            <h5><strong>Klik her for at se de forskellige pladsnumre</strong></h5>
        </div>
    </button> 
</div>

@if (imageSource is not null)
    {    
      <div class="d-flex justify-content-center">
        <img src="@imageSource" />
     </div>
    }
   

@code {
    //Selection
      private ILookup<int, int>CottagesByPersonCount;
      private ILookup<int, int>GrassfieldsByPersonCount;
      private ProductType? SelectedType { get; set; }
      private int? SelectedFieldNumber { get; set; }


      private List<CottageDto> Cottages = new List<CottageDto>();
      private List<GrassFieldDto> GrassFields = new List<GrassFieldDto>();
	 

     protected override async Task OnInitializedAsync()
     {
        await base.OnInitializedAsync();

        Cottages = await CottageService.GetAllAsync();
        GrassFields = await GrassFieldService.GetAllAsync();

        CottagesByPersonCount = Cottages.ToLookup(c => c.MaxCapacity, c => c.Number);
        GrassfieldsByPersonCount = GrassFields.ToLookup(g => g.MaxCapacity, g => g.Number);
     }

    @* Guests *@
    [Parameter]
    public int? GuestAmount { get; set; }


    private List<int> GetAvailableCottagesByGuests()
    {
        if (GuestAmount is not null)
        {
            return CottagesByPersonCount[GuestAmount.Value].ToList();
        }
        return new();
    }


     private List<int> GetAvailableGrassfieldsByGuests()
 {
     if (GuestAmount is not null)
     { 
         return GrassfieldsByPersonCount[GuestAmount.Value].ToList();
     }
     return new();
 }



    [Parameter]
    public EventCallback<ProductType?> SelectedFieldCallback { get; set; }
    private async Task SelectedFieldChanged(MouseEventArgs e){
        await SelectedFieldCallback.InvokeAsync(SelectedType);
    }

    [Parameter]
    public EventCallback<int?> SelectedFieldNumberCallback { get; set; }
    private async Task SelectedFieldNumberChanged(MouseEventArgs e){
        await SelectedFieldNumberCallback.InvokeAsync(SelectedFieldNumber);
    }

    private string? imageSource;

    private void ShowImage()
    {
        if (imageSource == null)
        {
            imageSource = "../img/campingmap.png";
        }
        else
        {   
            imageSource = null;
        }   
       
    }

}
