@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models

@*Pladstype*@
<div class="d-flex justify-content-center">
    <h3><strong>V&#230;lg den type plads du &#248;nsker at booke</strong></h3>
</div>

<div class="form-group mb-3" style="transform: translateX(25%);">
    <label class="form-label">V&#230;lg type</label>
    <InputSelect id="Field" @bind-Value="SelectedField" class="form-select" style="max-width: 50%" @onclick="SelectedFieldChanged">
        <option value="null" selected>-</option>
        @foreach (var number in FieldSelection)
        {
            <option value="@number">@number</option>		
        }
    </InputSelect>
</div>



@*Pladsnummer*@
@if(SelectedField is not null){

<div class="d-flex justify-content-center">
    <h3><strong>V&#230;lg pladsnummer</strong></h3>
</div>

@if(SelectedField.Equals("Hytteplads")){
<div class="form-group mb-3" style="transform: translateX(25%);">
    <label class="form-label">V&#230;lg hytteplads</label>
    <InputSelect id="CottageNumbers" @bind-Value="SelectedFieldNumber" class="form-select" style="max-width: 50%" @onclick="SelectedFieldNumberChanged">
        <option value="0" selected>-</option>
        @foreach (var number in CottageNumbers)
        {
            <option value="@number">@number</option>		
        }
    </InputSelect>
</div>
}

@if(SelectedField.Equals("Græsplads")){
<div class="form-group mb-3" style="transform: translateX(25%);">
    <label class="form-label">V&#230;lg gr&#230;splads</label>
    <InputSelect id="FieldNumbers" @bind-Value="SelectedFieldNumber" class="form-select" style="max-width: 50%" @onclick="SelectedFieldNumberChanged">
        <option value="0" selected>-</option>
        @foreach (var number in FieldNumbers)
        {
            <option value="@number">@number</option>
        }
    </InputSelect>
</div>
}

<div class="d-flex justify-content-center">
    <h3><strong>Herunder ser du de forskellige pladsnumre</strong></h3>
</div>
    
<div class="d-flex justify-content-center">
    <img src="../img/campingmap.png">
</div>
} 

@code {
    //Selection
    private string? SelectedField {get; set;}
    @* private int SelectedCottageNumber { get; set; } *@
    private int SelectedFieldNumber { get; set; }

    //Data
    private IEnumerable<string> FieldSelection = new List<string>
    {
        "Græsplads", "Hytteplads"
    };
    // 14 hytter
    private IEnumerable<int> CottageNumbers = new List<int>
    { 14, 15, 16, 19, 22, 23, 24, 25, 26, 27, 28, 45, 46, 47 };

    // 36 græspladser
    private IEnumerable<int> FieldNumbers = new List<int>
    { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 20, 21, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44 };	

    [Parameter]
    public EventCallback<string?> SelectedFieldCallback { get; set; }
    private async Task SelectedFieldChanged(MouseEventArgs e){
        await SelectedFieldCallback.InvokeAsync(SelectedField);
    }

    [Parameter]
    public EventCallback<int?> SelectedFieldNumberCallback { get; set; }
    private async Task SelectedFieldNumberChanged(MouseEventArgs e){
        await SelectedFieldNumberCallback.InvokeAsync(SelectedFieldNumber);
    }
  
    
}