@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models
@Inject ICottageService CottageService
@Inject IGrassFieldService GrassFieldService


@*<div class="d-flex justify-content-center">
    <h3><b>V&#230;lg den plads du &#248;nsker at booke</b></h3>
</div>*@

<div class="form-group mb-3">
    <label class="form-label">V&#230;lg hytte- eller græsplads</label>
    <InputSelect @bind-Value="SelectedType" class="form-select">
        <option value="0" disabled="disabled" selected>-- V&#230;lg --</option>
        @foreach (var type in Enum.GetValues(typeof(ProductType)))
        {
            option value="@productType">@productType</option>  
        }

    </InputSelect>
</div>

    @if (SelectedType == ProductType.Cottage) 
        {
           <div class="form-group mb-3">
             <label class="form-label">V&#230;lg antal personer</label>
             <InputSelect id="AmountOfPeople" @bind-value="SelectedAmount" class="form-select">
         
                 @foreach (var p in AmountOfPeople)
                 {
                     <option value="@p">@p</option>		
                 }
             </InputSelect>
            </div> 
        }

   
                        
<div class="form-group mb-3">
    <label class="form-label">V&#230;lg hytteplads</label>
    <InputSelect id="Cottages" @bind-Value="SelectedCottageNumber" class="form-select">
        <option value="0" disabled="disabled" selected>-- V&#230;lg --</option>
        @foreach (var cottagenum in Cottages)
        {
            <option value="@cottagenum.Number">@cottagenum.Number</option>		
        }
    </InputSelect>
</div>

<div class="form-group mb-3">
    <label class="form-label">V&#230;lg gr&#230;splads</label>
    <InputSelect id="GrassFields" @bind-Value="SelectedFieldNumber" class="form-select">
        <option value="0" disabled="disabled" selected>-- V&#230;lg --</option>
        @foreach (var grassfieldnum in GrassFields)
        {
            <option value="@grassfieldnum.Number">@grassfieldnum.Number</option>
        }
    </InputSelect>
</div>
    
<div class="d-flex justify-content-center">
    <h3><b>Herunder ser du de forskellige pladsnumre</b></h3>
</div>
    
<div class="d-flex justify-content-center">
    <img src="../img/campingmap.png">
</div>

@code {

      private string SelectedType { get; set }
	  private int SelectedCottageNumber { get; set; }
      private int SelectedFieldNumber { get; set; }


      private List<CottageDto> Cottages = new List();
      private List<GrassField> GrassFields = new List();
	 

     protected override async Task OnInitializedAsync()
     {
        await base.OnInitializedAsync();

        Cottages = await Service.GetCottages.Async();
     }

     protected override async Task OnInitializedAsync()
     {
        GrassFields = await Service.GetGrassFields.Async();
     }
     
    }
}